<%- include("partials/header.ejs") %>

<%- include("partials/subheader.ejs") %>

<div id="container_mainTask">
    <% listTasks.forEach( task  => { %>
        
        <div class="container_task">
            <span class="task_content">
                <input type="checkbox" name="checked" value="false">
                <span class="task_description">
                    <p class="task_title"  name="task_title" >
                             <%=task.title%> </p>
                    <p class="task_info" name="task_info">
                             <%=task.info%> </p>
                </span>
            </span>
        </div>

    <% }); %>
</div>


<%- include("partials/footer.ejs") %>
